.header {
    position: fixed;
    top: 0px;
    
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #909090;
    padding: 0 10%;
  }
  
  .logo {
    font-size: 2rem;
    color: #00BCFF;
    font-weight: bold;
  }
  
  .tabHeader{
    font-size: 1.5rem;
    color: #00BCFF;
    font-weight: bold;
  }
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .header li {
    margin-left: 3rem;
  }
  
  .header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffffff;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: white;
  }
  
  .badge {
    background-color: #cc2062;
    color: white;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
  }
  
  .header li:hover {
    font-weight: bold;
  }
  
  .leftmargin1 {
    margin-left: 50px;
  }
  .leftmargin2 {
    margin-left: 75px;
  }
  .leftmargin3 {
    margin-left: 100px;
  }

 
div {
    margin-bottom: 10px;
    position: relative;
    }
    
input + span {
padding-right: 30px;
}

input:invalid + span::after {
position: absolute;
content: "✖";
padding-left: 5px;
}

input:valid + span::after {
position: absolute;
content: "✓";
padding-left: 5px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }


.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }